<p id="notice"><%= notice %></p>

<p>
  <b>Shelf:</b>
  <%= @library.shelf %>
</p>

<p>
  <b>Book:</b>
  <%= @library.book %>
</p>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
